<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>The Cappacita Movie Database</title>
        <link rel="stylesheet" href="style.css" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <header id="header-top">
            <h1>The Cappacita Movie Database</h1>
            <nav id="nav-top">
                <form id="search-form">
                    <input type="text" id="search" placeholder="Search"class="search"/>
                </form>
            </nav>
            
        </header>
        <section class="movies-section">
            <div>
                <h2 id="theme-title">Popular Movies</h2>
            </div>
            <main id="main">
                
            </main>
        </section>
        
        <footer class="footer-bottom">
            <figure>
                <img class="logo" src="./assets/cappacita.png" alt="Cappacita Logo">
                <figcaption>CappacitaDev</figcaption>
            </figure>
        </footer>
        <script src="script.js"></script>
    </body>
</html>